---
---
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description}}">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/pygments.css">
        <link rel="stylesheet" href="assets/css/emojify.css">

    </head>
    <body class="impress-not-supported">

        <div class="fallback-message">
            <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
            <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
        </div>

        <div class="container">
          <div id="impress">
            {% for page in site.posts reversed %}
              <div id="{{ page.title | downcase | replace:" ","-" }}" class="step{% if page.slide %} slide{% endif%}" data-x="{{ page.date | date: "%y" | times: 1000 }}" data-y="{{ page.date | date: "%d" | times: 1000 }}" data-z="{{ page.z }}" scale="{{ page.scale }}" data-rotate-x="{{ page.rotate-x }}" data-rotate-y="{{ page.rotate-y }}" data-rotate-z="{{ page.rotate-z }}">


                {% if page.hide_title %}{% else %}
                  <h1>{% if page.icon %}<i class="icon-{{ page.icon }}">&nbsp;</i>{% endif %}{% if page.octicon %}<span class="mega-octicon octicon-{{ page.octicon }}">&nbsp;</span>{% endif %}{{ page.title | replace:"Github","GitHub" }}</h1>
                {% endif %}
                {{ page.content }}
                {% if page.notes %}{% for note in page.notes %}<div class="notes">{{ note }}</div>{% endfor %}{% endif %}
              </div>
            {% endfor %}
          </div>
        </div> <!-- /container -->

      <script src="assets/js/impress.js"></script>
      <script>if (window.location.hash == "#print") {
        window.print()
      } else {
        impress().init();
      }</script>
      <script src="assets/js/deck.js"></script>
      <script type="text/javascript" src="assets/js/emojify.js"></script>
      <script>
        emojify.setConfig({
          emoticons_enabled: false,
          people_enabled: true,
          nature_enabled: true,
          objects_enabled: true,
          places_enabled: true,
          symbols_enabled: true,
          only_crawl_id: 'impress'
        });
        emojify.run();
      </script>
      </script>
    </body>
</html>
