/* Brand colors */
$brand-linkBlue: #4183c4;
$brand-lightGrey: #999;
$brand-medGrey: #666;
$brand-darkGrey: #333;
$brand-green: #6CC644;
$brand-red: #BD2C00;
$brand-orange: #f93;

/* Background Colors */
$background-light: #505f6b;
$background-dark: #303841;
$watermark: #2b2c25;

/* Text colors */
$body-color: #fff;