@import 'impress';
@import 'colors';

/* Background */
body {
  background: $background-light;
  background: -moz-radial-gradient(center, ellipse cover, $background-light 12%, $background-dark 100%); 
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(12%,$background-light), color-stop(100%,$background-dark));
  background: -webkit-radial-gradient(center, ellipse cover, $background-light 12%,$background-dark 100%); 
  background: -o-radial-gradient(center, ellipse cover, $background-light 12%,$background-dark 100%);
  background: -ms-radial-gradient(center, ellipse cover, $background-light 12%,$background-dark 100%);
  background: radial-gradient(ellipse at center, $background-light 12%,$background-dark 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background-light', endColorstr='$background-dark',GradientType=1 );
  min-height: 740px;
}

body::before {
  content: "";
  -webkit-mask-box-image: url(../img/blacktocat.png) 100% 100% 0 0;
  background: $watermark;
  position: absolute;
  opacity: .13;
  height: 130%;
  width: 120%;
  left: 5%;
  top: 5%; }

/* text */

body { 
    color: $body-color;
    text-align: center;
    text-shadow: 2px 3px 3px $brand-darkGrey;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

a {
    color: $brand-linkBlue;
    text-decoration: none;
}

h1 { 
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 25px; 
}

h2 {
  font-size: 1.1em;
  line-height: 1.1em;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

li {
  line-height: 1em;
  padding-bottom: 20px; 
}

.blue {
  color: $brand-linkBlue;
}

.step {
  font-size: 40px;
  line-height: 1em;
}

p {
  margin-bottom: 25px; 
}

#feedlyMiniIcon { display: none !important; }

/* Geeky lists */
ol { counter-reset: item -1; margin-left: auto; margin-right: auto; list-style: none;}
ol li { text-align: left; }
ol li:before { content: counter(item) ". "; counter-increment: item; }
#roadmap ol {
  width: 500px;
}