@import 'bootstrap.min.css';
@import "pygments.css";
@import "font-awesome.css";
@import "octicons";
@import 'impress';
@import "variables";
@import "branding";

/* Global */
body {
  text-align: center;
}

h1 {
  font-size: 75px;
  line-height: 90px;
}

h2 {
  font-size: 50px;
  line-height: 60px;
}

ul {
  list-style: none; }

li {
  line-height: 1.1em;
  padding-bottom: 20px; }

.blue {
  color: #4183c4; }

.step {
  font-size: 40px;
  line-height: 1em; }

p {
  margin-bottom: 25px; }

code {
  font-size: 35px;
  color: #4183c4;
  padding: 0 4px 2px 4px;
  line-height: 1.5em; }

#feedlyMiniIcon {
  display: none !important; }

/* Geeky lists */
ol {
  counter-reset: item -1;
  margin-left: auto;
  margin-right: auto;
  list-style: none; }

ol li {
  text-align: left; }

ol li:before {
  content: counter(item) ". ";
  counter-increment: item; }

#roadmap ol {
  width: 500px; }

/* Code */
.highlight {
  text-align: left;
  text-shadow: none;
  width: 101%;
  }

.highlight code {
  font-size: 1.7em; }

/* Slide Specific */
.contact-info {
  margin-top: 100px;
}

.contact-info a {
  color: $brand-lightGrey;
}

.outro { margin-top: 25px; }

.mega-octicon { font-size: 1em; }

small { font-size: 0.6em; color: $brand-lightGrey; }

.linux code { font-size: 3px; -webkit-column-count: 6; -moz-columns:130px 6; columns:130px 6; }

.matrix tr td { padding: 10px; }
.matrix tr td:first-child { border-right: 1px solid black; padding: 30px 10px 30px 10px; }
.matrix tbody tr:last-child td {border-top: 1px solid black; padding: 10px 30px 10px 30px; }
.matrix tbody tr:last-child td:first-child { border:none; }

.svn tr td, .git tr td { padding: 10px; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  /* Impress.js specific */
  .fallback-message { display: none; }
  @page land {size: landscape;}
  .step { page-break-inside: avoid; page-break-after: always; border: none; margin-top: 100px; }
  .step img { max-height: 100%; }

  /* plus some more step specific styles of your own
  #htop2 { display: none }
   */
}
